<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <title>TodoList</title> -->
    <title>Todo list</title>
    <%- include('link/head.ejs') %>
  </head>
  <body
    class="max-w-3xl min-h-screen flex flex-col items-center mx-auto relative"
  >
    <%- include('partials/header.ejs') %>

    <main class="py-8 w-full">
      <%- include('partials/section.ejs') %>
      <section class="flex justify-center mt-10">
        <%- include('partials/events') %>
      </section>
    </main>

    <%- include('link/script.ejs') %>
    <script>
      function fetchData() {
        const token = localStorage.getItem("token");
        $.ajax({
          url: "/verify-token",
          type: "GET",
          headers: {
            Authorization: token,
          },
          success: function (response) {
            $("#userName").html(response.user.name);
          },
          error: function (xhr) {
            localStorage.removeItem("token");
            Swal.fire({
              html: "將跳轉至登入頁面",
              draggable: true,
              timer: 2000,
              didOpen: () => {
                Swal.showLoading();
              },
              willClose: () => {
                window.location.href = "/user/login";
              },
            });
          },
        });

        $.ajax({
          type: "GET",
          headers: {
            Authorization: token, // 添加 Authorization 头部
          },
          url: "/events?status=all", // 查询所有状态的事件
          success: (event) => {
            loadEvents(event.events, token);
          },
        });
      }

      fetchData();
    </script>
  </body>
</html>
