<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TodoList</title>
    <%- include('link/head.ejs') %>
  </head>
  <body class="max-w-3xl min-h-screen flex flex-col items-center mx-auto">
    <%- include('partials/header.ejs') %>

    <main class="py-8 w-full">
      <%- include('partials/section.ejs') %>
      <section><%- include('partials/events.ejs') %></section>
    </main>

    <%- include('link/script.ejs') %>
    <script src="/index.js"></script>
  </body>
</html>
